<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>ReplIzer</title>
  <link rel="stylesheet" href="css/ansi.css" type="text/css" media="all" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="js/jqconsole.js"></script>
    <link href="css/opal_irb_jqconsole.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
   <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css"/>
   <link rel="stylesheet" href="css/show-hint.css"/>
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="js/show-hint.js"></script>
    <script src="js/anyword-hint.js"></script>
    <script type="text/javascript" src="http://codemirror.net/keymap/emacs.js"></script>
    <script src="http://codemirror.net/mode/ruby/ruby.js"></script>
    <script src="compiled/app-embeddable.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= OpalIrbUtils.include_code_mirror.html_safe%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

